prixMaxi : <input type="number" [(ngModel)]='prixMaxi' /> <br/>
<input type="button" value="Rechercher produits"
      (click)="onRechercheProd($event)" />
<hr/>
<table border="1">
   <tr><th>numero</th> <th>label</th><th>prix</th> </tr>
    <tr *ngFor="let p of tabProduit">
      <td>{{p.numero}}</td> <td>{{p.label}}</td><td>{{p.prix}}</td>
    </tr>
</table>

<hr/>
label :<input type="text" [(ngModel)]='nouveauProduit.label' /> <br/>
prix :<input type="number" [(ngModel)]='nouveauProduit.prix' /> <br/>
<input type="button" value="Ajouter produit"
      (click)="onAjoutProd($event)" />
